@tailwind base;
@tailwind components;
@tailwind utilities;

/* .hire_button {
  border-radius: 10px;
  background: url("/images/logo.webp") no-repeat;
  background-position: center;
  background-size: cover;
} */

*{
  scroll-behavior: smooth;
}

.gradient_box {
  background: linear-gradient(99deg, #d324a2 20.64%, #3830d9 120.03%);
  background-size: cover;
  background-position: center;
}

.gradient_text {
  background: linear-gradient(99deg, #d324a2 20.64%, #3830d9 120.03%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form_button {
  border-radius: 20px;
  background: rgba(245, 21, 248, 0.68);
  box-shadow: 4px 4px 35px 0px rgba(245, 21, 248, 0.41);
}

.form_box {
  border-radius: 40px;
  border: 1px solid #ab0fb1;
  background: rgba(104, 26, 26, 0.02);
  backdrop-filter: blur(39px);
}

.skill_box {
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(7.5px);
}

/* html {
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
} */

.vertical-timeline--animate .vertical-timeline-element-content.is-hidden,
.vertical-timeline--animate .vertical-timeline-element-icon.is-hidden {
  visibility: visible !important;
}

.backstretch.animated {
  -webkit-animation: filter-animation 8s infinite;
  animation: filter-animation 8s infinite;
}

@-webkit-keyframes filter-animation {
  0% {
    -webkit-filter: hue-rotate(0deg);
  }

  50% {
    -webkit-filter: hue-rotate(40deg);
  }

  100% {
    -webkit-filter: hue-rotate(0deg);
  }
}

@keyframes filter-animation {
  0% {
    filter: hue-rotate(0deg);
  }

  50% {
    filter: hue-rotate(40deg);
  }

  100% {
    filter: hue-rotate(0deg);
  }
}


.aboutImage{
  animation-name: example;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes example {
  0% {transform: translateY(32px);}
  50% {transform: translateY(-12px);}
  100% {transform: translateY(32px);}
}